spring-demo/src/test/resources/META-INF/user.xsd

<?xml version="1.0" encoding= "UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.zk.org/schema/user"
        xmlns:tns="http://www.zk.org/schema/user"
        elementFormDefault="qualified">

    <element name="user">
        <complexType>
            <attribute name="id" type="string"></attribute>
            <attribute name="username" type="string"></attribute>
        </complexType>
    </element>


</schema>